.loginScreen{
    position:relative;
    height: 100%;
    background: url('https://res.cloudinary.com/emacon-production/image/upload/v1627463113/Nairobarry/Untitled_1.75.1_olm98i.jpg')
    center no-repeat;
    background-size: cover;
}
.loginScreen__logo{
    position: fixed;
    left: 0;
    width: 100px;
    object-fit: contain;
    padding-left: 20px;
}
.loginScreen__body > h1{
    font-size: 3.125rem;
    margin-bottom: 20px;
    
}
.loginScreen__body > h2{
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    
}
.loginScreen__body > h3{
    font-size: 1rem;
    font-weight: 200;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    /* text-align:center; */
    
}
.loginScreen__body{
    position: absolute;
    top: 30%;
    right: 25%;
    margin-left:auto;
    margin-right: auto;
    text-align:center;
    z-index: 1;
    color: #fff;
    padding: 20px;
}
.loginScreen__gradient{
    width: 100%;
    z-index: 1;
    height:100vh;
    background: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.8) 0,
        rgba(0, 0, 0, 0.4) 60%,
        rgba(0, 0, 0, 0.8) 100%
    );
}

.loginScreen__button{
    position: fixed;
    right: 20px;
    top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #f07437;
    font-weight: 300;
    border: none;
    cursor: pointer;
    width: 200px;
}
.loginScreen__input{
 margin: 20px;
}
.loginScreen__getStarted{
    padding: 2px 40px;
    font-size:1 rem;
    color: #fff;
    background-color: #f07437;
    border: none;
    cursor: pointer;
   }

.loginScreen__input > form > input{
 padding:10px;
 outline-width: 0;
}